.yellowMenu {
  border-bottom: 4px solid #fffd53;
  font-weight: bold;
}
.logo {
  letter-spacing: 5px;
}
.mem {
  background-color: #292a30;
  border: 1px solid #34363e;
  text-align: center;
  overflow: visible;
  max-width: 750px;
  margin: 0 auto 30px;
}
.mem-img {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.mem-content {
  text-align: center;
  width: 85%;
  margin: 15px auto 10px;
  padding: 10px 0px;
  overflow: auto;
  border-top: 1px solid #fffd53;
  color: #8a8d9b;
  display: table;
}
.mem-addedBy {
  display: table-cell;
  vertical-align: middle;
}
article {
  margin-top: 20px;
  margin-bottom: 20px;
}
.vCenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
@media screen and (min-width: 992px) and (max-width: 1043px) {
  .col-sm-8 {
    width: 700px;
  }
}
